.container{
    margin-top: 1%;
}
.card{
    width: 600px;
    margin: 0 auto;
}
form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.btn{
    margin-top: 2%;
}
input{
    padding: 6px;
}
.collection{
    margin-top: 1%;
    width: 1600px;
    padding-left: 30%;
}
table,th,tr,td{
    border: 2px solid black;
}
.search{
    margin-top: 1%;
    padding-left: 60%;
    align-content: space-around;
    align-content: center;
}
.search button{
    margin-left: 10px;
}